## TALLER 1

NO. DE IDENTIFICACION, NOMBRES, APELLIDOS, ESTATURA, DIRECCION, TELEFONO, EDAD, ESTADO CIVIL, NO. DE HIJOS, FECHA DE CONTRATACION, (DIA/MES/AÃ‘O), SUELDO BASICO Y DIAS LABORADOS

In [ ]:
identidicacion = "1031147831"
identificacion = input("digite su identificacion; ")
print(identificacion)

digite su identificacion; 1031147831
1031147831

In [ ]:
nombres = "carlos eduardo"
nombres = input("digite su nombres; ")
print(nombres)

digite su nombres; carlos eduardo
carlos eduardo

In [ ]:
apellidos = "martinez moreno"
apellidos = input("digite sus apellidos; ")
print(apellidos)

digite sus apellidos; martinez moreno
martinez moreno

In [ ]:
estatura = "1,75"
estatura = input("digite su estatura; ")
print(estatura)

digite su estatura; 1.75
1.75

In [ ]:
direccion = "kr 8 sur # 30- 81 este"
direccion = input("digite su dureccion; ")
print(direccion)

digite su dureccion; kr 8 sur # 30 - 81 este
kr 8 sur # 30 - 81 este

In [ ]:
telefono = 3107580169
telefono = input("digite su telefono; ")
print(telefono)

digite su telefono; 3107580169
3107580169

In [ ]:
edad = 29
edad = input("digite su edad; ")
print(edad)

digite su edad; 29
29

In [ ]:
estadocivil = "soltero"
estadocivil = input("digite su estado civil; ")
print(estadocivil)

digite su estado civil; soltero
soltero

In [ ]:
hijos = "no"
hijos = input("digite si tiene  hijos; ")
print(hijos)

digite si tiene  hijos; no
no

In [ ]:
contratacion = "09-09-2020"
contratacion = input("digite fecha de contratacion; ")
print(contratacion)

digite fecha de contratacion; 09-09-2020
09-09-2020

In [ ]:
sueldo = "$1.000.000"
sueldo = input("digite su sueldo basico; ")
print(sueldo)

digite su sueldo basico; $1.000.000
$1.000.000

In [ ]:
diaslaborados = "365"
diaslaborados = input("digite los dias laborados; ")
print(diaslaborados)

digite los dias laborados; 365
365